<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.uneeducationpourdemain.oGramP1"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>oGramP1</name>

    <description>
        Orthographe grammatical P1
    </description>

    <author email="gaschenjp@bluewin.ch">
        Jean-Paul Gaschen
    </author>

</widget>
